body {
	font-family: poppins;
	padding: 0;
	margin: 0;
}
.task-chart {
	display: flex;
	height: 850px;
	/* width: 1440px; */
	width: 100%;
}
.left-wrapper {
	/* flex */
	display: flex;
	/* design */
	width: 30%;
}
.right-wrapper {
	/* flex */
	display: flex;
	flex-direction: row;
	/* design */
	width: 70%;
}
.sidebar-dashboard {
	/* flex */
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 50px;
}
.search-bar {
	height: 60px;
	width: 1184px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.search {
	position: absolute;
	height: 60px;
	width: 1150px;
	display: flex;
}
.notification-icon {
	margin-right: 20px;
}

.all-charts {
	display: flex;
	margin-top: 40px;
	width: 1100px;
	background-color: #e5e5e5;
}
.right-tasks {
	/* flex  */
	display: flex;
	flex-direction: column;

	/* design */
	margin: 41px 40px;
	margin-left: 30px;
}
.tasks {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	/* height: 722px; */
	width: 635px;
	left: 292px;
	top: 96px;
	border-radius: 0px;
	margin: 40px 0 40px 40px;
	background-color: #ffff;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	padding: 20px;

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #6a707e;
}
.top-tasks {
	display: flex;
	flex-direction: column;

	/* height: 40px; */
}
.top-tasks-details {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 6px;
}
.label-option {
	display: flex;
	margin-top: 6px;
}
progress {
	width: 470px;
	height: 4px;
	background: #2ed47a;
	border-radius: 3px;
	margin-left: 20px;
}
select {
	background: none;
	border: none;
	outline: none;
	margin-bottom: 10px;
}
.task-rect {
	margin-top: 20px;
}
.tasks-height {
	height: 170px;
}

/* date task  */

.date-task {
	height: 200px;
	margin: 30px;
}
.the-date {
	margin-top: 0;
}

.calander {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20px;
	margin-top: 20px;
}
.date-num {
	margin-left: 8px;
}
.sun {
	border-radius: 50%;
	background-color: #109cf1;
	padding: 3px;
}
.mon {
	color: #109cf1;
}

/* bottom tasks  */

.bottom-tasks {
	display: flex;
	/* justify-content: space-between; */
	border-top: 1px solid #ebeff2;
	margin: 10px;
	padding: 5px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
}
.reminder {
	margin-right: 20px;
}
.left-reminder {
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin-top: 20px;
}
.left-reminder-img {
	display: flex;
	align-items: center;
}
.left-reminder-img img {
	border-radius: 50%;
}
.left-reminder-img p {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 0.01em;
	color: #707683;
	margin: 3px 0 0 5px;
}
.right-reminder {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	text-align: right;
}
.reminder-btn {
	background: #2ed47a;
	border-radius: 4px;
	padding: 3px;
	color: white;
	margin-top: 30px;
	margin-right: 10px;
	width: 100px;
	text-align: center;
}
.delet-icon {
	display: flex;
	align-items: center;
}
.trash {
	margin: 5px 10px;
}
.benefit {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.01em;
	color: #323c47;
}

.due {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 0.01em;
	color: #4c5862;

	opacity: 0.5;
	margin-left: -0.1px;
}
.ended {
	background: #f7685b;
	border-radius: 4px;
}

span {
	color: #109cf1;
}
.show-more {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.01em;

	color: #109cf1;
}
/* detail graph  */

.devider {
	height: 1px;
	background-color: #ebeff2;
	margin-top: 50px;
}

.detail-graphic {
	height: 344px;
	width: 445px;
	left: 957px;
	top: 96px;
	border-radius: 0px;
	margin-bottom: 30px;
	background-color: #ffff;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
}

.detail-graphic .closed-deals {
	margin-left: 30px;
}
.graph-img {
	margin: 10px;
	height: 190px;
	width: 90%;
}

/* tasks char  */

.tasks-charts {
	height: 344px;
	width: 445px;
	left: 957px;
	top: 470px;
	border-radius: 0px;
	background-color: #ffff;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
}
.top-tasks-charts {
	margin: 30px;
}
.group-container {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.group {
	height: 200px;
	margin: 20px;
}
.ellipse {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 40px;
}
.sub-ellipse {
	margin: 10px 0;
}
.sub-ellipse img {
	margin-right: 10px;
}
.ellipse-completed {
	margin-left: 37px;
}

h1 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;

	color: #109cf1;
	margin: 15px 0 0 40px;
}
.profile {
	display: flex;
	flex-direction: row;
	height: 100px;
	gap: 20px;
}

.profile-pic {
	height: 60%;
	border-radius: 50%;
	margin-top: 40px;
}
.profile-info {
	padding: 10px;
	margin-top: 35px;
}
.dashboard {
	margin: 40px 0 0 10px;
	display: flex;
	flex-direction: column;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 19px;

	letter-spacing: 0.01em;
	color: #109cf1;
}
.dashboard-icons {
	display: flex;
	gap: 20px;
	margin-top: 20px;
	margin-left: px;
	text-align: center;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 19px;
	/* identical to box height */

	letter-spacing: 0.01em;
	color: #334d6e;
}
.dashboard-icons-settings {
	/* width: 100px;
	height: 100px; */
	margin-left: 40px;
}
.dashboard-name {
	color: #109cf1;
}

span {
	margin-left: 10px;
}
.under-score {
	border-bottom: 2px solid #ebeff2;
	margin-top: 40px;
	position: absolute;
	width: 30%;
	height: 1px;
	left: 0px;
	top: 415px;
}
.settings {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 19px;
	top: 470px;
}
.dashboard-icons-settings {
	/* width: 100px;
	height: 100px; */
	margin-left: 40px;
}
.search-icon {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 36px;
	top: 23px;
}
.search input {
	width: 100%;
	height: 100%;
	padding: 0 70px;
	border:none;
}
.notification-icon {
	position: absolute;
	width: 24px;
	height: 24px;
	right: 36px;
	top: 18px;
}

@media only screen and (max-width: 640px) {
	.task-chart {
		width: 100%;
		flex-direction: column;
		margin: 0;
		padding: 0;
	}
	.all-charts {
		display: flex;
		flex-direction: column;
		background-color: #ffff;
		width: 100%;
	}
	.left-wrapper {
		display: none;
	}
	.tasks-charts {
		display: none;
	}
	.search {
		width: 100%;
	}

	.tasks {
		width: 100%;
		margin: 40px 0;
		padding: 0;
	}
	.date-task {
		margin: 0 20px;
	}
	progress {
		width: 100%;
	}
	.detail-graphic {
		width: 100%;
	}
	.right-tasks {
		margin: 0;
	}
	.right-wrapper {
		width: 100%;
	}
	.notification-icon {
		margin-right: 0;
	}
	.task-rect {
		width: 350px;
	}
	input {
		border: none;
	}
	.top-tasks-details {
		padding: 10px;
	}
	.right-reminder {
		margin-left: 40px;
	}
	.right-reminder .completed {
		margin-left: 40px;
	}
	.bottom-tasks {
		width: 100%;
	}
	.reminder-btn {
		margin-right: 40px;
	}
	
}
